body {
  font-family: rubik;
  background-color: #ef5350;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #345feb;
}

.hamburger {
  /*add styles for the hamburger here*/  
}

.container {
  /*add styles for the container here*/
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
}

#pokedex {
  /*add styles for pokedex here*/
}

.card {
  padding: 5px;
  background-color: #fff;
  color: #222;
  margin:10px;
  width: 250px;
}

p {
  color: #757575
}

.card-title {
  font-size: 32px;
  font-weight: bold;
  margin-top: 0;
}
.card-subtitle {
  margin-top: 5px;
  font-weight: lighter;
}

.card-image {
  height: 180px;
}

.menu {
  /*add styles for the menu here*/
}


header {
  /*add styles for the header here*/
}

.headerImg {
  width: 250px;
  display: flex;
  justify-content: center;
}

.social {
  /*add styles for the social icons here*/
}

footer {
  /*add styles for the footer here*/
}

@media mobile(min-width: )